Repository SeeQL-Enterprises/SeeQL, pull requests merged in 2020-03, with the labels that each got.

#1 Add projects
  app/controllers/projects_controller.rb
  app/models/project.rb
  app/models/user.rb
  app/views/projects/new.html.erb
  app/views/projects/show.html.erb
  config/routes.rb
  db/migrate/20200303104216_delete_database_id_from_projects.rb
  db/migrate/20200303104711_add_userer_reference_to_projects.rb
  db/migrate/20200303110704_delte_table_id_from_projects.rb
  db/migrate/20200303110952_add_poly_to_comments.rb
  db/schema.rb
  test/controllers/projects_controller_test.rb
Labels: db:migrate, pull

#2 migrations now complete
  db/migrate/20200303112032_remove_user_from_databases.rb
  db/migrate/20200303112205_add_project_ref_to_databases.rb
  db/schema.rb
Labels: db:migrate, pull

#5 Add collaborators
  app/controllers/collaborators_controller.rb
  app/controllers/projects_controller.rb
  app/models/project.rb
  app/views/collaborators/_form.html.erb
  app/views/collaborators/_show.html.erb
  app/views/projects/show.html.erb
  config/routes.rb
  test/controllers/collaborators_controller_test.rb
Labels: pull

#6 Schema parsing
  Gemfile
  Gemfile.lock
  app/services/database_converter.rb
  test/controllers/.keep
Labels: bundle install, pull

#8 migration to change schema_file:text to db_json:json
  db/migrate/20200303144403_remove_schema_column_from_databases.rb
  db/migrate/20200303144704_add_db_json_to_databases.rb
  db/schema.rb
Labels: db:migrate, pull

#15 Comments
  app/controllers/comments_controller.rb
  app/controllers/databases_controller.rb
  app/models/comment.rb
  app/models/database.rb
  app/models/table.rb
  app/models/user.rb
  app/views/comments/_column_form.html.erb
  app/views/comments/_form.html.erb
  app/views/databases/show.html.erb
  config/routes.rb
  db/migrate/20200304120428_add_user_id_to_comments.rb
  db/schema.rb
  db/seeds.rb
  test/controllers/comments_controller_test.rb
Labels: db:migrate, pull

#17 Create Table and Column instances
  app/models/column.rb
  app/models/database.rb
  app/models/table.rb
  app/services/database_converter.rb
  db/migrate/20200304140232_change_columns_data_type_to_string.rb
  db/schema.rb
Labels: db:migrate, pull

#28 Number tables and columns
  app/models/column.rb
  app/models/project.rb
  app/models/user.rb
  app/views/tables/index.html.erb
Labels: pull

#29 Real seedz -- db:seed
  app/views/tables/index.html.erb
  db/migrate/20200306110221_remove_user_from_users.rb
  db/migrate/20200306110428_add_name_to_users.rb
  db/schema.rb
  db/seeds.rb
Labels: db:migrate

#46 Foreign keys
  app/services/database_accessor.rb
  db/migrate/20200306214201_add_foreign_keys_to_tables.rb
  db/schema.rb
Labels: db:migrate, pull

#47 XML Processor
  app/services/database_accessor.rb
  app/services/database_processor.rb
Labels: pull

#51 Added a README.md file.
  README.md
Labels: documentation

#67 User db connection
  app/controllers/databases_controller.rb
  app/policies/database_accessor_policy.rb
  app/services/database_accessor.rb
  app/views/collaborators/_form.html.erb
  app/views/projects/_form.html.erb
  app/views/projects/show.html.erb
  test/policies/database_policy_test.rb
Labels: pull

#82 Edit columns
  app/controllers/columns_controller.rb
  app/controllers/comments_controller.rb
  app/policies/column_policy.rb
  app/policies/comment_policy.rb
  app/views/columns/_form.html.erb
  app/views/comments/_comment.html.erb
  app/views/comments/create.js.erb
  app/views/comments/destroy.js.erb
  app/views/tables/_column_fields.html.erb
  app/views/tables/index.html.erb
  config/routes.rb
  db/migrate/20200310114600_add_edit_to_columns.rb
  db/schema.rb
Labels: pull

#104 Fix select tables feature
  app/javascript/plugins/select_all.js
  app/views/tables/index.html.erb
Labels: bug-fix

#107 thiner buttons
  app/assets/stylesheets/components/_button.scss
Labels: style change

#109 Adjust picture landing page
  app/assets/stylesheets/components/_banner-landing-page.scss
  app/views/pages/home.html.erb
Labels: style change

#111 Colour of new tables and columns
  app/assets/stylesheets/components/_edit.scss
Labels: style change

#112 Edit boolean to tables
  app/controllers/columns_controller.rb
  app/controllers/tables_controller.rb
  app/views/tables/_column_fields.html.erb
  app/views/tables/_form.html.erb
  app/views/tables/index.html.erb
  db/migrate/20200311155648_add_edit_to_tables.rb
  db/schema.rb
Labels: db:migrate, pull

#114 change colour for new columns again
  app/assets/stylesheets/components/_edit.scss
  app/views/pages/home.html.erb
Labels: style change

#110 Social share fix
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/_footer.scss
  app/views/shared/_footer.html.erb
  config/initializers/social_share_button.rb
Labels: bundle install, style change

#117 Fix doc selectors
  app/views/columns/_column.html.erb
  app/views/columns/destroy.js.erb
  app/views/tables/index.html.erb
Labels: bug-fix

#121 Create new seeds
  db/seeds.rb
Labels: db:drop db:create db:migrate db:seed

#120 now ajax also deletes options from dom when column is removed
  app/views/columns/_column.html.erb
  app/views/columns/destroy.js.erb
  app/views/comments/create.js.erb
  app/views/tables/index.html.erb
Labels: bug-fix

#123 adjust icons
  app/assets/stylesheets/components/_button.scss
  app/views/devise/registrations/edit.html.erb
  app/views/projects/show.html.erb
Labels: style change

#122 adjust button to btn-treehouse
  app/views/devise/confirmations/new.html.erb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/devise/unlocks/new.html.erb
Labels: style change

#126 rails db:seed
  app/assets/stylesheets/components/_footer.scss
  app/views/shared/_footer.html.erb
Labels: style change

#125 fix image on homepage incl. subheaders and bottom border
  app/assets/stylesheets/components/_banner-landing-page.scss
  app/views/pages/home.html.erb
Labels: style change

#128 404 & 500 styling
  public/404.html
  public/500.html
  public/images/HomeBackground.png
Labels: style change

#133 added conditional so it only injects id for tables added by users
  app/models/table.rb
  app/views/tables/index.html.erb
Labels: bug-fix

#136 Social og fix
  app/assets/images/og_image.jpg
  app/controllers/application_controller.rb
  app/helpers/meta_tags_helper.rb
  app/views/layouts/application.html.erb
  config/initializers/default_meta.rb
  config/meta.yml
Labels: DO NOT MERGE
